*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* global css */

:root {
  --color-primary: #40a2e3;
  --color-secondary: #fff6e9;
  --color-black: #000;
  --color-white: #fff;
  --color-blue-light: #bbe2ec;
  --color-gray: #ddd;
}

/* main css */
body {
  font-family: "Poppins", sans-serif;
}

/* navbar */
header {
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  z-index: 10;
  background-color: var(--color-white);
}

#navbar {
  max-width: 1536px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .logo a {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.5rem;
}

.nav.active {
  display: block;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-item a {
  color: var(--color-black);
  font-weight: 200;
}

.nav-item a:hover {
  color: var(--color-primary);
}

.nav-item.contact a {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

.menu-toogle {
  display: none;
}

.menu-btn {
  background-color: var(--color-white);
  padding: 0.5rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.3rem;
  cursor: pointer;
}

/* main */
main {
  width: 100%;
}

#home {
  background-color: rgba(16, 144, 203, 10%);
  width: 100%;
  height: 100vh;
}

.home_container {
  max-width: 1536px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.judul h1 {
  line-height: 1.5;
  font-size: 3rem;
  color: var(--color-black);
  font-weight: 600;
  margin-bottom: 1rem;
}

.judul h1 span {
  color: var(--color-primary);
}

.judul p {
  max-width: 600px;
  color: var(--color-black);
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.judul .cta {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

/* menu */
#menu {
  width: 100%;
  padding: 8rem 0;
  background-color: var(--color-white);
}

.menu_container {
  max-width: 1536px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4rem 1rem;
}

.menu_item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu_icon {
  padding: 1rem;
  border-radius: 0.5rem;
}

.menu_icon i {
  font-size: 2rem;
}

.menu_item p {
  color: var(--color-black);
  font-size: 1.2rem;
  font-weight: 500;
}

.web span {
  background-color: #efeaff;
}

.web span i {
  color: #4628a4;
}

.desain span {
  background-color: #ecffda;
}

.desain span i {
  color: #5fc300;
}

.copywriting span {
  background-color: #dae6ff;
}

.copywriting span i {
  color: #00329b;
}

.seo span {
  background-color: #ffe5da;
}

.seo span i {
  color: #bb3800;
}

.pk span {
  background-color: #fff4ea;
}

.pk span i {
  color: #bb3800;
}

.medsos span {
  background-color: #fffeda;
}

.medsos span i {
  color: #d3d72e;
}

.report span {
  background-color: #daffff;
}

.report span i {
  color: #08d3bb;
}

/* about */
#about {
  width: 100%;
  background-color: rgba(16, 144, 203, 10%);
  padding: 8rem 0;
}

.about_container {
  max-width: 768px;
  margin: auto;
}

.about_container h3 {
  text-align: center;
  font-size: 2rem;
  color: var(--color-black);
  font-weight: 600;
  margin-bottom: 1rem;
}

.about_container h5 {
  text-align: center;
  color: var(--color-black);
  font-weight: 600;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.about_container p {
  color: var(--color-black);
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  text-align: center;
}

/* feature */
#feature {
  width: 100%;
  padding: 8rem 0;
  background-color: var(--color-white);
}

.feature_container {
  max-width: 1536px;
  margin: auto;
}

.feature_judul {
  text-align: center;
  font-size: 2rem;
  color: var(--color-black);
  font-weight: 600;
  margin-bottom: 2rem;
}

.feature_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 4rem;
}

.feature_desc span {
  padding: 0.5rem;
  border-radius: 50%;
}

.feature_desc h3 {
  color: var(--color-black);
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.feature_desc p {
  max-width: 600px;
  color: var(--color-black);
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 1.5;
}

.feature_item.feature_2 {
  flex-direction: row-reverse;
}

.feature_1 h3 span {
  color: var(--color-white);
  background-color: #08d3bb;
}

.feature_2 h3 span {
  color: var(--color-white);
  background-color: #1090cb;
}

.feature_3 h3 span {
  color: var(--color-white);
  background-color: #9208d3;
}

#keunggulan {
  width: 100%;
  padding: 8rem 0;
  background-color: var(--color-white);
}

.keunggulan_container {
  max-width: 1536px;
  margin: auto;
}

.keunggulan_judul {
  text-align: center;
  font-size: 2rem;
  color: var(--color-black);
  font-weight: 600;
  margin-bottom: 2rem;
}

.keunggulan_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.keunggulan_item {
  background-color: #dae6ff;
  padding: 2rem;
  border: 0.25rem solid var(--color-primary);
  border-radius: 0.5rem;
}

.keunggulan_item h3 {
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.keunggulan_item p {
  color: var(--color-black);
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5;
}

/* company */

#company {
  width: 100%;
  padding: 8rem 0;
  background-color: var(--color-white);
}

.company_container {
  max-width: 1536px;
  margin: auto;
}

.company_judul {
  text-align: center;
  font-size: 2rem;
  color: var(--color-black);
  font-weight: 600;
  margin-bottom: 2rem;
}

.company_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

/* article */
#article {
  width: 100%;
  padding: 8rem 0;
  background-color: var(--color-white);
}

.article_container {
  max-width: 1536px;
  margin: auto;
}

.article_judul {
  font-size: 2rem;
  color: var(--color-black);
  font-weight: 600;
  margin-bottom: 2rem;
}

.article_content {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-gray);
  border-radius: 1rem;
}

.article_content h2 {
  margin-bottom: 1rem;
  line-height: 1;
}

.article_content p {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.article_content ul li {
  list-style: circle;
  margin-left: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* contact */
#contact {
  width: 100%;
  padding: 8rem 0;
  background-color: #e8f4fa;
}

.contact_container {
  max-width: 1536px;
  margin: auto;
  padding: 2rem 1rem;
  background-color: white;
}

.contact_judul {
  text-align: center;
  font-size: 2rem;
  color: var(--color-black);
  font-weight: 600;
  margin-bottom: 2rem;
}

.contact_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

.contact_desc {
  width: 100%;
  border-radius: 1rem;
  background-color: white;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.contact_image img {
  border-radius: 2px;
}

.form_item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.form_list {
  width: 100%;
  padding: 0.5rem;
}

.form_item input {
  font-size: 1rem;
  width: 100%;
  display: block;
  padding: 0.7rem;
  border: 1px solid var(--color-gray);
  border-radius: 2px;
}

/* footer */
#footer {
  width: 100%;
  padding: 8rem 0 0 0;
  background-color: var(--color-white);
}

.footer_container {
  max-width: 1536px;
  margin: auto;
  margin-bottom: 8rem;
}

.footer_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 4rem;
}

.footer_item h5 {
  color: var(--color-black);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer_item .footer_logo {
  color: var(--color-primary);
}

.footer_item .footer_desc {
  max-width: 1000px;
  color: var(--color-black);
  font-weight: 200;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.footer_item .footer_tag {
  color: var(--color-black);
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer_menu li {
  margin-bottom: 1rem;
}

.footer_menu li a {
  color: var(--color-black);
}

.footer_sosmed {
  display: flex;
  gap: 2rem;
}

.footer_sosmed li {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  padding: 2rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  cursor: pointer;
}

.footer_sosmed li:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.footer_copyright {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  border-top: 1px solid var(--color-gray);
}

/* mobile */
@media screen and (max-width: 768px) {
  /* navbar */
  header {
    padding: 0.5rem 1rem;
  }

  .nav {
    display: none;
  }

  .nav.active .nav-list {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-white);
    padding: 2rem;
  }

  .menu-toogle {
    display: block;
  }

  /* main */

  #home {
    padding: 5rem 1rem;
    height: auto;
  }

  .home_container {
    flex-direction: column;
  }

  .judul h1 {
    line-height: 1.2;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .judul p {
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
  }

  .judul .cta {
    text-align: center;
    display: block;
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-weight: 500;
  }

  .image img {
    max-width: 100%;
    height: auto;
  }

  /* about */
  #about {
    padding: 4rem 1rem;
  }
  .about_container p {
    text-align: justify;
    font-size: 1rem;
  }

  /* menu */

  #menu {
    padding: 4rem 0;
  }

  .menu_container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  /* feature */

  #feature {
    padding: 4rem 0;
  }

  .feature_item {
    flex-direction: column;
  }

  .feature_item.feature_2 {
    flex-direction: column;
  }

  .feature_desc h3 span {
    font-size: 1rem;
  }

  .feature_desc h3 {
    font-size: 1.5rem;
  }

  .feature_desc p {
    text-align: justify;
  }

  .feature_image img {
    max-width: 100%;
    background-size: contain;
  }

  /* keunggulan */

  #keunggulan {
    padding: 4rem 0;
  }

  .keunggulan_list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 1rem;
  }

  #company {
    padding: 4rem 0;
  }

  .company_list {
    flex-direction: column;
  }

  #article {
    padding: 4rem 0;
  }

  .article_container {
    padding: 0 1rem;
  }

  .article_content h3 {
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 1rem;
  }

  /* contact */

  #contact {
    padding: 4rem 1rem;
  }

  .contact_list {
    flex-direction: column;
  }

  .contact_desc {
    flex-direction: column;
  }

  /* footer */

  #footer {
    padding: 4rem 0;
  }

  .footer_container {
    padding: 0 1rem;
  }

  .footer_list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }
}
